<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">DSTT</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'martial_art' %}">Martial
            Arts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3"
           href="{% url 'list_technique_type' %}">Technique Types</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'list_technique' %}">Techniques</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'add_belt_ranking' %}">Belt
            Ranking</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">Martial Art Legends</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">Ways to improve</a>
    </div>
</div>